In [1]:
%load_ext autotime

time: 309 Âµs (started: 2023-03-14 21:45:26 +05:30)

In [2]:
import pandas as pd
from PIL import Image
import json
import os
import numpy as np

time: 880 ms (started: 2023-03-14 21:45:26 +05:30)

In [3]:
paths = '../dataset/aqi/images/'
scaling = json.load(open('../dataset/aqi/scales.json', 'r'))
scaling

{'min': 14.0,
 'max': 163.0,
 'loMin': 77.23560954500005,
 'loMax': 81.3211332490001,
 'laMin': 15.836347644999982,
 'laMax': 19.917992894000086,
 'bbox': [30, 31, 502, 527]}

time: 10.1 ms (started: 2023-03-14 21:45:27 +05:30)

In [4]:
df = pd.DataFrame({
    'inputs': sorted(os.listdir(paths))
})

df.head()

        inputs
0  2017-01.png
1  2017-02.png
2  2017-03.png
3  2017-04.png
4  2017-05.png

time: 13.8 ms (started: 2023-03-14 21:45:28 +05:30)

In [5]:
df['outputs'] = np.nan
df.head()

        inputs  outputs
0  2017-01.png      NaN
1  2017-02.png      NaN
2  2017-03.png      NaN
3  2017-04.png      NaN
4  2017-05.png      NaN

time: 7.6 ms (started: 2023-03-14 21:45:28 +05:30)

In [6]:
for ix in range(2, len(df) - 1):
    df.loc[ix, 'outputs'] = df['inputs'].iloc[ix+1]

time: 8.8 ms (started: 2023-03-14 21:45:28 +05:30)

In [7]:
df = df[:len(df) - 1]
df.shape

(59, 2)

time: 2.72 ms (started: 2023-03-14 21:45:29 +05:30)

In [8]:
df.head(10)

        inputs      outputs
0  2017-01.png          NaN
1  2017-02.png          NaN
2  2017-03.png  2017-04.png
3  2017-04.png  2017-05.png
4  2017-05.png  2017-06.png
5  2017-06.png  2017-07.png
6  2017-07.png  2017-08.png
7  2017-08.png  2017-09.png
8  2017-09.png  2017-10.png
9  2017-10.png  2017-11.png

time: 8.02 ms (started: 2023-03-14 21:45:29 +05:30)